<a href="https://colab.research.google.com/github/EduardoMoraesRitter/machine-learning-introducao-a-classificacao-com-sklearn/blob/master/Segundo_modelo_classifica%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#No segundo modelo vamos ver a separação dos dados de treino e teste proporcionalmente com dados reais

In [1]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [2]:
x = dados[["home", "how_it_works", "contact"]]
y = dados["bought"]
print(x.head())
print(y.head())

   home  how_it_works  contact
0     1             1        0
1     1             1        0
2     1             1        0
3     1             1        0
4     1             1        0
0    0
1    0
2    0
3    0
4    0
Name: bought, dtype: int64

In [3]:
#renomear as colunas com um mapa
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados = dados.rename(columns = mapa)
dados

    principal  como_funciona  contato  comprou
0           1              1        0        0
1           1              1        0        0
2           1              1        0        0
3           1              1        0        0
4           1              1        0        0
..        ...            ...      ...      ...
94          0              0        1        0
95          1              1        1        1
96          0              0        1        0
97          0              1        0        0
98          0              0        0        0

[99 rows x 4 columns]

In [4]:
x = dados[["principal", "como_funciona", "contato"]]
y = dados["comprou"]
print(x.head())
print(y.head())

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0
0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [5]:
#separa dados de treino e dados de teste de forma embaralhado as classes
dados.shape #forma

(99, 4)

In [6]:
#75% para treino
treino_x = x[:75]
treino_y = y[:75]
#teste é ate 74 elementos
teste_x = x[75:]
teste_y = y[75:]

print("treino: ", len(treino_x), " teste: ", len(teste_x))

treino:  75  teste:  24

In [8]:
from sklearn.svm import LinearSVC
model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

from sklearn.metrics import accuracy_score
taxa_acerto = accuracy_score(teste_y, previsoes)
print('acurácia  %.2f%%' % (taxa_acerto * 100))

acurácia  95.83%

#Separa o treino do teste com splits do sklearn

In [14]:
#alearoriamente ele pega itens separado
from sklearn.model_selection import train_test_split

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25)
print("treino: ", len(treino_x), " teste: ", len(teste_x))

treino:  74  teste:  25

In [15]:
from sklearn.svm import LinearSVC
model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

from sklearn.metrics import accuracy_score
taxa_acerto = accuracy_score(teste_y, previsoes)
print('acurácia  %.2f%%' % (taxa_acerto * 100))

acurácia  100.00%

define um numeor inicial para garantir a aleatoredade, usando um paramentro chamado semente(SEED)

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
SEED = 20
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25)
print("treino: ", len(treino_x), " teste: ", len(teste_x))
model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)
taxa_acerto = accuracy_score(teste_y, previsoes)
print('acurácia  %.2f%%' % (taxa_acerto * 100))

treino:  74  teste:  25
acurácia  96.00%

In [24]:
#a proporcao esta errada, a cada 3 pessoas que comprou tenho 1 que nao 19/3 = 3,19
print("\n treino classes \n", treino_y.value_counts())
print("\n teste classes \n", teste_y.value_counts())

 treino classes
 0    47
1    27
Name: comprou, dtype: int64

 teste classes
 0    19
1     6
Name: comprou, dtype: int64

fazer com que as classes de treino e teste fiquem proporcional.

imagina treinar com pessoas que nao compraram, nao iria funcionar.

o parametro stratify ajusta isso com base nos tipos das classes.

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
SEED = 20
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, 
                                                        random_state = SEED, 
                                                        test_size = 0.25,
                                                        stratify = y)
print("treino: ", len(treino_x), " teste: ", len(teste_x))
model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)
taxa_acerto = accuracy_score(teste_y, previsoes)
print('acurácia  %.2f%%' % (taxa_acerto * 100))
print("\n treino classes \n", treino_y.value_counts())
print("\n teste classes \n", teste_y.value_counts())

treino:  74  teste:  25
acurácia  96.00%

 treino classes
 0    49
1    25
Name: comprou, dtype: int64

 teste classes
 0    17
1     8
Name: comprou, dtype: int64