<a href="https://colab.research.google.com/github/EduardoMoraesRitter/machine-learning-introducao-a-classificacao-com-sklearn/blob/master/Segundo_modelo_classifica%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [2]:
x = dados[["home", "how_it_works", "contact"]]
y = dados["bought"]
print(x.head())
print(y.head())

   home  how_it_works  contact
0     1             1        0
1     1             1        0
2     1             1        0
3     1             1        0
4     1             1        0
0    0
1    0
2    0
3    0
4    0
Name: bought, dtype: int64

In [3]:
#renomear as colunas com um mapa
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados = dados.rename(columns = mapa)
dados

    principal  como_funciona  contato  comprou
0           1              1        0        0
1           1              1        0        0
2           1              1        0        0
3           1              1        0        0
4           1              1        0        0
..        ...            ...      ...      ...
94          0              0        1        0
95          1              1        1        1
96          0              0        1        0
97          0              1        0        0
98          0              0        0        0

[99 rows x 4 columns]

In [4]:
x = dados[["principal", "como_funciona", "contato"]]
y = dados["comprou"]
print(x.head())
print(y.head())

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0
0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [5]:
#separa dados de treino e dados de teste de forma embaralhado as classes
dados.shape #forma

(99, 4)

In [6]:
#75% para treino
treino_x = x[:75]
treino_y = y[:75]
#teste é ate 74 elementos
teste_x = x[75:]
teste_y = y[75:]

print("treino: ", len(treino_x), " teste: ", len(teste_x))

treino:  75  teste:  24

In [7]:
from sklearn.svm import LinearSVC
model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

from sklearn.metrics import accuracy_score
taxa_acerto = accuracy_score(teste_y, previsoes)
print('acurácia  %.2f%%' % (taxa_acerto * 100))

acurácia  95.83%